.header {
  text-align: center;
  margin: 30px;
}

.container {
  width: 100%;
}

.table {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 30px;
}

.theader {
  text-align: left;
}

.paginationContainer {
  display: flex;
  padding: 0 30px;
}

.pageNumber {
  width: 50%;
}


.pageSize {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}


.npContainer {
  display: flex;
}

.npButton {
  margin: 0 20px;
}

.pageSelector {
  margin-left: 10px;
}
